{% extends 'base.html' %}
{% load static %}


{% block content %}
	<div class="super_container">
		<!-- Banner -->
		<div class="home">
			<a href="https://www.freepik.com/free-photo/backpacker-standing-sunrise-viewpoint-ja-bo-village-mae-hong-son-province-thailand_21520737.htm#fromView=search&page=1&position=22&uuid=eeb4a31c-0d8d-406c-832b-ef2842663325">Image by tawatchai07 on Freepik>
				<div class="background_image" 
					 style="background-image:url({% static 'images/blog-lombok-juragan.jpg' %})">
				</div>
			</a>
		</div>

		<!-- Blog -->
		<div class="news">
			<div class="container">
				<div class="row">

					<!-- News Container -->
					<div class="col-lg-8">
						<div class="news_container">
							
							{% if blogs %}
								<!-- Blogs -->
								 
								 {% for blog in blogs  %}
									<div class="news_post">
										
										{% if blog.image %}
											<div class="news_post_image"><img src="{{blog.image.url}}" alt=""></div>
										{% endif %}
											
										<div class="news_post_content">
											
											<div class="news_post_title"><a href="#">{{blog.title}}</a></div>
											<div class="news_post_category">
												<ul>
													<li><a href="#">Penulis: <span style="color: #007bff;">{{blog.penulis}}</span></a></li>
												</ul>
											</div>
											<div class="news_post_text">
												<p>{{blog.deskripsi}}</p>
											</div>
											<div class="news_post_link"><a class="btn btn-primary" href="{% url '_app:blog_detail' blog.slug %}">Selengkapnya..</a></div>
										</div>
									</div>
									
								 {% endfor %}
									
							
							{% else %}
								<p>Belum ada blog</p>
							{% endif %}
								
							


						</div>

						<!-- Pagination -->
						<div class="pagination">
							<ul class="d-flex flex-row align-items-start justify-content-start">
								<li class="active"><a href="#">1.</a></li>
								<li><a href="#">2.</a></li>
								<li><a href="#">3.</a></li>
								<li><a href="#">4.</a></li>
								<li><a href="#">5.</a></li>
							</ul>
						</div>
					</div>

					<!-- side-blog -->

					{% include 'comps/side_blog.html' %}

					<!-- <div class="col-lg-4">
						<div class="news_sidebar">

							<div class="categories">
								<div class="sidebar_title">Kategori</div>
								<div class="sidebar_list">
									<ul>
										<li><a href="#"><div class="d-flex flex-row align-items-start justify-content-start">Travels<span class="ml-auto">(09)</span></div></a></li>
										<li><a href="#"><div class="d-flex flex-row align-items-start justify-content-start">Organization<span class="ml-auto">(12)</span></div></a></li>
										<li><a href="#"><div class="d-flex flex-row align-items-start justify-content-start">Tips & Tricks<span class="ml-auto">(16)</span></div></a></li>
										<li><a href="#"><div class="d-flex flex-row align-items-start justify-content-start">Uncategorized<span class="ml-auto">(22)</span></div></a></li>
									</ul>
								</div>
							</div>

							<div class="latest">
								<div class="sidebar_title">Blog Lainnya</div>
								<div class="latest_container">
									
									<div class="latest_post d-flex flex-row align-items-start justify-content-start">
										<div class="latest_post_image"><img src="{% static 'images/latest_1.jpg' %}" alt=""></div>
										<div class="latest_post_content">
											<div class="latest_post_date d-flex flex-row align-items-end justify-content-start">
												<div class="latest_post_day">02</div>
												<div class="latest_post_month">june</div>
											</div>
											<div class="latest_post_title"><a href="#">Best tips to travel light</a></div>
											<div class="latest_post_text"><p>Pellentesque sit amet..</p></div>
										</div>
									</div>

									<div class="latest_post d-flex flex-row align-items-start justify-content-start">
										<div class="latest_post_image"><img src="{% static 'images/latest_2.jpg' %}" alt=""></div>
										<div class="latest_post_content">
											<div class="latest_post_date d-flex flex-row align-items-end justify-content-start">
												<div class="latest_post_day">02</div>
												<div class="latest_post_month">june</div>
											</div>
											<div class="latest_post_title"><a href="#">Best tips to travel light</a></div>
											<div class="latest_post_text"><p>Pellentesque sit amet..</p></div>
										</div>
									</div>

									<div class="latest_post d-flex flex-row align-items-start justify-content-start">
										<div class="latest_post_image"><img src="{% static 'images/latest_3.jpg' %}" alt=""></div>
										<div class="latest_post_content">
											<div class="latest_post_date d-flex flex-row align-items-end justify-content-start">
												<div class="latest_post_day">02</div>
												<div class="latest_post_month">june</div>
											</div>
											<div class="latest_post_title"><a href="#">Best tips to travel light</a></div>
											<div class="latest_post_text"><p>Pellentesque sit amet..</p></div>
										</div>
									</div>

								</div>
							</div>

						</div>
					</div> -->
				</div>
			</div>
		</div>

	</div>
{% endblock content %}
	s



