{% extends 'base.html' %}
{% load static %}



{% block content %}
	<div class="super_container">
		

		<!-- Blog -->
		<div class="news">
			<div class="container">
				<div class="row">

					<!-- News Container -->
					<div class="col-lg-8">
						<div class="news_container">
                            <div class="news_post">
								<h1>{{blog.title}}</h1>
								<div class="news_post_category mb-1">
									<ul>
										<li><a href="#">Penulis: <span style="color: #007bff;">{{blog.penulis}}</span></a></li>
									</ul>
								</div>
                                
                                {% if blog.image %}
                                    <div class="news_post_image"><img src="{{blog.image.url}}" alt=""></div>
                                {% endif %}
                                    
                                <div class="news_post_content">
                                    
                                   
                                    <div class="news_post_text">
                                        <div>{{blog.content | safe}}</div>
                                    </div>
                                </div>
                            </div>
						</div>
					</div>

					<!-- Blog Sidebar -->
					{% include 'comps/side_blog.html' %}

				</div>
			</div>
		</div>

	</div>
{% endblock content %}