{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="super_container">

    <!-- #e9ecef -->
    <div class="header-atas" style="background-color: #F5F5F5;">
        <div class="container">
            <ol class="breadcrumb" style="background-color: #F5F5F5;; padding-top: 36px; padding-bottom: 36px; padding-left: 0px;">
                <li class="breadcrumb-item"><a href="#" style="color:#72728c;">Home</a></li>
                <li class="breadcrumb-item"><a href="#" style="color:#72728c;">Paket</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{program.name}}</li>
            </ol>

        </div>
    </div>
     

    <div class="about" style="padding: 0;">
        <div class="container">

            <div class="row about_row mt-5">

                <div class="col-lg-8">
                    <div class="section_title" style="margin-top: 0px !important;">
                        <h1 style="font-size: 2em;font-weight: 450;">Paket {{program.name}}</h1>
                    </div>
                    <div class="about_image"><img class="img-fluid rounded" src="{{program.image.url}}" alt="{{program.image.name}}"></div>

                    {% for paket in pakets %}
                        <div class="about_content mb-5 mt-5">


                            <!-- jika category bukan pake harian  -->
                            {% if category != 'Paket Harian' %}
                                <div class="text_highlight">
                                    <h2 style="font-size: 1.6em;font-weight: 450;">{{paket.name}}</h2>
                                </div>
                            {% endif %}
                                
                           
                            <div class="about_text mb-4">
                                <p>{{paket.deskripsi}}</p>
                            </div>
                            <hr>

                            <!-- destinasi? -->
                            <div class="mb-2">
                                <h3 style="font-size: 17px; font-weight: 450; font-style: inherit;">Destinasi</h3>
                                <div class="about_text">
                                        {% for d in paket.destinasi.all %}
                                        <p style="margin: 0;"><i class="fa-solid fa-map-marker-alt mr-2" style="color: #007bff;"></i>{{ d.name }}</p>
                                        {% endfor %}
                                </div>
                            </div>
                            <hr>

                            <!-- Itinerary -->
                            <div class="mb-2">
                                <h3 style="font-size: 17px; font-weight: 450; font-style: inherit;">Itinerari</h3>
                                <div class="about_text">
                                
                                    {% for day in paket.package_days.all  %}
                                    <div class="stepper d-flex flex-column mt-5">
                                        <div class="d-flex mb-1">
                                            <div class="d-flex flex-column pr-4 align-items-center">
                                        <div class="rounded-circle py-3 px-3 bg-primary text-white mb-1"></div>
                                                <div class="line h-100"  style="width: 1.5px; background-color: #7c7474;"></div>
                                            </div>
                                            <div>
                                                <p class="text-dark mt-2 font-weight-bold">{{day.hari.name}}</p>
                                                <p class="lead text-muted pb-3" style="font-size: 1.1rem;">
                                                    
                                                    {% for a in day.hari.aktivitas.all  %}
                                                        <p>- {{a.name}}</p>
                                                    {% endfor %}
                                                        
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                        
                                    {% endfor %}
                                        
                                    
                                </div>
                            </div>
                            <hr>

                            <!-- Include -->
                            <div class="mb-2">
                                <h3 style="font-size: 17px; font-weight: 450;">Include</h3>
                                <div class="text">
                                    <div style="margin: 0;">
                                        
                                        {% for i in paket.package_include.all  %}
                                        
                                            {% for a in i.aktivitas.all %}
                                                <p>
                                                    <i class="fa-solid fa-check mr-1" style="color: #007bff;"></i>
                                                    {{a.name}}
                                                </p>
                                            {% endfor %}
                                            
                                        {% endfor %}
                                            
                                    </div>
                                </div>
                            </div>

                            <!-- exclude -->
                            <hr>
                            <div class="mb-2">
                                <h3 style="font-size: 17px; font-weight: 450;">Exclude</h3>
                                <div class="text">
                                    <div style="margin-bottom: 0.5rem !important;">
                                        
                                        {% for e in paket.exclude.all  %}
                                            <p>
                                                <i class="fa-solid fa-ban mr-1" style="color: red;"></i>
                                                {{e.name}}
                                            </p>
                                        {% endfor %}
                                            
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <!-- harga -->
                            <div class="mb-2">
                                <h3 style="font-size: 17px; font-weight: 450;">Harga Paket {{p.name}}</h3>
                                
                                {% if p.image_price %}
                                    <div class="image-price">
                                        <img src="{{p.image_price.url}}" alt="img-price">
                                    </div>

                                    {% else %}
                                    <p>Chat admin untuk detail harga</p>
                                    
                                {% endif %}
                                    
                            </div>
                            <hr>
                            <div class="d-flex justify-content-start gap-1">
                                <div class="">
                                    <a href="https://wa.me/6287860371458?text=Halo%20kak%20saya%20ingin%20memesan%20paket%20{{p.name}}" class="btn btn-primary" target="_blank">
                                        <i class="fa-brands fa-whatsapp"></i>
                                        Pesan Sekarang
                                    </a>
                                </div>

                            </div>
                            <hr>
                            <!-- share-button -->
                           
                         

                        </div>
                    {% endfor %}

                    <!-- FAQ -->

                    {% include '../comps/faq.html' %}

                    <!-- other Package -->

                    {% include '../comps/other_program.html' %}

                </div>

                <div class="col-lg-4 position-relative">
                     <div class="card">
                        <div class="card-header" style="background-color: #135589; color: #fff;">
                            Form Pemesanan
                        </div>
                        <div class="card-body">
                            {% csrf_token %}
                            <form method="POST">
                                <div class="form-group">
                                  <label>Nama</label>
                                  <input name="name" id="booking-form" type="text" class="form-control" style="outline: none; box-shadow: none;" required>
                                </div>
                                <div class="form-group">
                                    <label>Alamat Lengkap</label>
                                    <input name="address" type="text" class="form-control"  style="outline: none; box-shadow: none;" required>
                                  </div>
                                  <div class="form-group">
                                    <label for="exampleFormControlInput1">No.Hp</label>
                                    <input name="phone" type="number" class="form-control"   style="outline: none; box-shadow: none;" required>
                                  </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Jumlah Peserta</label>
                                    <input name="jumlah" type="number" class="form-control"  style="outline: none; box-shadow: none;" required>
                                  </div>

                                  <div class="form-group">
                                    <label for="exampleFormControlInput1">Tanggal Jemput</label>
                                    <input name="tanggal_jemput" required type="date" class="form-control" id="tanggal_jemput"  style="outline: none; box-shadow: none;" required>
                                  </div>

                                <div class="form-group">
                                  <label>Paket</label>

                                  <select name="pkt" class="form-control"  style="outline: none; box-shadow: none;" required>
                                    <option>--Pilih Paket---</option>

                                    {% for p in pakets %}
                                       <option value="{{p.name}}">{{p.name}}</option>
                                    {% endfor %}

                                  </select>
                                </div>
                              
                                <button type="Submit" class="btn btn-primary">Pesan</button>
                            </form>
                        </div>
                     </div>
                </div>
                
            </div>

        </div>
    </div>







    <!-- Milestones -->

   




</div>

{% endblock content %}