{% extends 'base.html' %}
{% load static %}


{% block content %}
	<div class="super_container">
		
		

		<div class="home">
			<a href="https://www.freepik.com/free-photo/portrait-woman-customer-service-worker_9722718.htm#fromView=search&page=1&position=43&uuid=2b49d117-85ff-416d-ad22-2d11029e03f6">Image by Racool_studio on Freepik target="_blank" rel="noopener noreferrer">
				
				<div class="background_image" 
					 style="background-image:url({% static 'images/kontak.jpg' %})">
				</div>
			</a>
			
		</div>

		<!-- Search -->

		

		<!-- Contact -->

		<div class="contact">
			<div class="container">
				<div class="row">

					<!-- Get in touch -->
					<div class="col-lg-6 ">
						<div class="contact_content">
							<div class="contact_title">Hubungi kami</div>
							<div class="contact_text">
								<p>Kami di Lombok Juragan selalu siap membantu Anda. Jika Anda memiliki pertanyaan, membutuhkan informasi lebih lanjut mengenai paket wisata kami, atau ingin memberikan feedback, jangan ragu untuk menghubungi kami.</p>
							</div>
							<div class="contact_list">
								<ul>
									<li>
										<div>Alamat:</div>
										<div>Desa ketara, Pujut, Lombok Tengah</div>
									</li>
									<li>
										<div>Telepon:</div>
										<div>087860371458</div>
									</li>
									<li>
										<div>Email:</div>
										<div>lombokjuragan39@gmail.com</div>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Contact Form -->
					<div class="col-lg-6">
						<div class="contact_form_container">
							<form action="#" id="contact_form" class="contact_form">
								<div style="margin-bottom: 18px"><input type="text" class="contact_input contact_input_name inpt" placeholder="Your Name" required="required"><div class="input_border"></div></div>
								<div class="row">
									<div class="col-lg-6" style="margin-bottom: 18px">
										<div><input type="text" class="contact_input contact_input_email inpt" placeholder="Your E-mail" required="required"><div class="input_border"></div></div>
									</div>
									<div class="col-lg-6" style="margin-bottom: 18px">
										<div><input type="text" class="contact_input contact_input_subject inpt" placeholder="Subject" required="required"><div class="input_border"></div></div>
									</div>
								</div>
								<div><textarea class="contact_textarea contact_input inpt" placeholder="Message" required="required"></textarea><div class="input_border" style="bottom:3px"></div></div>
								<button class="contact_button">send</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Map -->

		<div class="contact_map">
			<!-- Google Map -->
			<div class="map">
				<div id="google_map" class="google_map">
					<div class="map_container">
						<a href="https://maps.app.goo.gl/Br7mfJT3E6EDYa5s5" target="_blank" rel="noopener noreferrer">
							<div id="map"></div>
						</a>
					</div>
				</div>
			</div>
		</div>
		

		<!-- Footer -->

		
	</div>
{% endblock content %}
	


