{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="super_container">

		<div class="home">
			<div class="background_image" style="background-image:url({% static 'images/tentang.jpg' %})"></div>
		</div>

		<div class="about mt-5 mb-5">
			<div class="container">
				<div class="row">
					<div class="col text-center">
						<div class="section_subtitle">sekilas tentang lombok juragan</div>
						<div class="section_title mb-5"><h2>Tentang Kami</h2></div>
					</div>
				</div>
				<div class="row about_row">
					<div class="col-lg-12">
						<div class="about_content">
							<div class="text_highlight font-weight-bold">Selamat datang di Lombok Juragan!.</div>
							<div class="about_text">
								<p>
									Lombok Juragan didirikan dengan visi untuk memperkenalkan keindahan pulau Lombok kepada dunia. Kami bangga menjadi salah satu penyedia layanan wisata terkemuka di Lombok, dengan tim profesional yang berpengalaman dan berdedikasi untuk memberikan layanan terbaik.</p>
								<p>
									Kami menawarkan beragam paket wisata yang mencakup destinasi-destinasi terbaik di Lombok. Mulai dari keindahan pantai pasir putih, pemandangan alam yang menakjubkan, hingga budaya lokal yang kaya, setiap paket wisata kami dirancang untuk memberikan pengalaman yang menyeluruh dan memuaskan. Kami juga menyediakan opsi paket dengan akomodasi hotel dan pilihan makanan untuk memastikan kenyamanan Anda selama berwisata.
								</p>
							</div>

							<div class="text_highlight font-weight-bold">Siapa Kami?</div>
							<div class="about_text">
								<p>Lombok Juragan didirikan dengan visi untuk memperkenalkan keindahan pulau Lombok kepada dunia. Kami bangga menjadi salah satu penyedia layanan wisata terkemuka di Lombok, dengan tim profesional yang berpengalaman dan berdedikasi untuk memberikan layanan terbaik.</p>
							</div>
							<div class="text_highlight font-weight-bold">Apa yang Kami Tawarkan?</div>
							<div class="about_text">
								<p>
									Kami menawarkan beragam paket wisata yang mencakup destinasi-destinasi terbaik di Lombok. Mulai dari keindahan pantai pasir putih, pemandangan alam yang menakjubkan, hingga budaya lokal yang kaya, setiap paket wisata kami dirancang untuk memberikan pengalaman yang menyeluruh dan memuaskan. Kami juga menyediakan opsi paket dengan akomodasi hotel dan pilihan makanan untuk memastikan kenyamanan Anda selama berwisata.
								</p>
							</div>
							<div class="text_highlight font-weight-bold">Hubungi Kami</div>
							<div class="about_text">
								<p>
									Jika Anda memiliki pertanyaan atau ingin mengetahui lebih lanjut tentang paket wisata yang kami tawarkan, jangan ragu untuk menghubungi kami. Kami siap membantu Anda merencanakan liburan impian di pulau Lombok.
								</p>
								<hr>
								<p>
									Selamat menikmati keindahan Lombok bersama Lombok Juragan!
								</p>
							</div>
						</div>
					</div>
					<!-- <div class="col-lg-6">
						<div class="about_image"><img src="{% static 'images/about_1.jpg' %}" alt=""></div>
					</div> -->
				</div>
			</div>
		</div>

		<!-- Milestones -->


		<!-- Why Choose Us -->

		<!-- Team -->

	
	</div>
{% endblock content %}
	


