{% load static %}

<div class="home">
    <div class="home_slider_container">
        <div class="owl-carousel owl-theme home_slider">
            
            {% for banner in banners %}
                <div class="owl-item">
                    <div class="background_image" style="background-image:url({{ banner.image.url }});">
                        <div class="overlay"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>