{% load static %}


<div class="news" id="news">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="news_container">
                    
                    <!-- News Post -->
                     
                     {% if blogs %}
                        
                        {% for item in blogs  %}
                            <div class="news_post d-flex flex-md-row flex-column align-items-start justify-content-start">
                                <div class="news_post_image">
                                    {% if item.image %}
                                     <img src="{{item.image.url}}" alt="">
                                    {% endif %}
                                </div>
                                <div class="news_post_content" style="padding-top: 0;">
                                
                                    <div class="news_post_title"><a href="{% url '_app:blog_detail' item.slug %}">{{item.title}}</a></div>
                                    <div class="news_post_category">
                                        <ul>
                                            <li><a href="#">Penulis: {{item.penulis}}</a></li>
                                        </ul>
                                    </div>
                                    <div class="news_post_text">
                                        <p>{{item.deskripsi}}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                            
                     {% else %}
                     <p>Belum ada blog</p>
                     {% endif %}
                        
                  

                </div>
            </div>

          
        </div>
    </div>
</div>