{% load static %}
<div class="row">
    <div class="col-md-12">
        <div class="faq mb-4">
            <h2>FAQ</h2>
            <div class="accordion" id="accordionExample">

                <div class="card mb-1">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn text-left" style="white-space: wrap !important; outline: none; box-shadow: none; background-color: transparent; padding: 0;" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                1. Apa syarat dan ketentuan untuk memesan paket wisata?
                            </button>
                        </h2>
                    </div>
            
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            Untuk memesan paket wisata, Anda diharuskan membayar sebesar 20% dari total harga paket sebagai pembayaran awal. Pembayaran sisa harus dilakukan sebelum tanggal keberangkatan. Pastikan untuk membaca syarat dan ketentuan lengkap yang tercantum di situs kami untuk informasi lebih lanjut.
                        </div>
                    </div>
                </div>
                <div class="card mb-1">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn text-left" type="button" style="white-space: wrap !important; outline: none; box-shadow: none; background-color: transparent; padding: 0;" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                2. Metode pembayaran apa saja yang diterima?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Kami menerima berbagai metode pembayaran, termasuk transfer bank, kartu kredit, dan pembayaran online. Pilih metode yang paling sesuai untuk Anda saat melakukan pemesanan di situs kami.
                        </div>
                    </div>
                </div>
                <div class="card mb-1">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn text-left" style="white-space: wrap !important; outline: none; box-shadow: none; background-color: transparent; padding: 0;" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                3. Bagaimana kebijakan pembatalan pemesanan?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            Kebijakan pembatalan bervariasi tergantung pada paket wisata yang dipesan. Umumnya, pembayaran awal tidak dapat dikembalikan jika Anda membatalkan pemesanan. Silakan cek syarat dan ketentuan pembatalan untuk detail lebih lanjut tentang kebijakan spesifik.
                        </div>
                    </div>
                </div>
                <div class="card mb-1">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn text-left" style="white-space: wrap !important; outline: none; box-shadow: none; background-color: transparent; padding: 0;" type="button" data-toggle="collapse"
                                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                4. Bagaimana cara mengubah atau memperbarui pemesanan saya?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                            Jika Anda perlu mengubah atau memperbarui pemesanan, hubungi layanan pelanggan kami secepatnya. Kami akan membantu Anda dengan perubahan yang diperlukan sesuai dengan ketersediaan dan syarat yang berlaku.
                        </div>
                    </div>
                </div>
               
            </div>
        </div>

    </div>
</div>