{% load static %}

<footer class="footer">
    <div class="parallax_background parallax-window" data-parallax="scroll" style="background-color: #135589;" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="newsletter">
                    <div class="newsletter_title_container text-center">
                        <div class="newsletter_title">Berlangganan dengan kami untuk mendapatkan harga yang menarik</div>
                        <div class="newsletter_subtitle">Join sekarang</div>
                    </div>
                    <div class="newsletter_form_container">
                        <form action="#" class="newsletter_form d-flex flex-md-row flex-column align-items-start justify-content-between" id="newsletter_form">
                            <div class="d-flex flex-md-row flex-column align-items-start justify-content-between">
                                <div><input type="text" class="newsletter_input newsletter_input_name" id="newsletter_input_name" placeholder="Nama" required="required"><div class="input_border"></div></div>
                                <div><input type="email" class="newsletter_input newsletter_input_email" id="newsletter_input_email" placeholder="e-mail" required="required"><div class="input_border"></div></div>
                            </div>
                            <div><button style="background-color: gray;" class="newsletter_button">subscribe</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer_contact_row">
            <div class="col-xl-10 offset-xl-1">
                <div class="row">

                    <!-- Footer Contact Item -->
                    <div class="col-xl-4 footer_contact_col">
                        <div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
                            <div class="footer_contact_icon"><img src="{% static 'images/sign.svg' %}" alt=""></div>
                            <div class="footer_contact_title">Telepon/wa</div>
                            <div class="footer_contact_list">
                                <ul>
                                    <li>Telepon:  087860371458</li>
                                    <li>Wa: 087860371458</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Footer Contact Item -->
                    <div class="col-xl-4 footer_contact_col">
                        <div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
                            <div class="footer_contact_icon"><img src="{% static 'images/trekking.svg' %}" alt=""></div>
                            <div class="footer_contact_title">Alamat</div>
                            <div class="footer_contact_list">
                                <ul style="max-width:190px">
                                    <li>Lombok tengah, NTB, Indonesia</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Footer Contact Item -->
                    <div class="col-xl-4 footer_contact_col">
                        <div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
                            <div class="footer_contact_icon"><img src="{% static 'images/around.svg' %}" alt=""></div>
                            <div class="footer_contact_title">Email</div>
                            <div class="footer_contact_list">
                                <ul>
                                    <li>lombokjuragan39@gmail.com</li>
                                    <!-- <li>Office@yourbusinessname.com</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #fff;" class="col text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> </div>
</footer>