{% load static %}


<div class="intro">
    <div></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="intro_container">
                    <div class="row">

                        <!-- Intro Item -->
                        <div class="col-lg-4 intro_col">
                            <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                                <div class="intro_icon"><img src="{% static 'images/beach.svg' %}" alt=""></div>
                                <div class="intro_content">
                                    <div class="intro_title">Destinasi Populer</div>
                                    <div class="intro_subtitle"><p>Kami tawarkan destinasi terbaru</p></div>
                                </div>
                            </div>
                        </div>

                        <!-- Intro Item -->
                        <div class="col-lg-4 intro_col">
                            <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                                <div class="intro_icon"><img src="{% static 'images/wallet.svg' %}" alt=""></div>
                                <div class="intro_content">
                                    <div class="intro_title">Harga Bersahabat</div>
                                    <div class="intro_subtitle"><p>Harga yang selalu termurah</p></div>
                                </div>
                            </div>
                        </div>

                        <!-- Intro Item -->
                        <div class="col-lg-4 intro_col">
                            <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                                <div class="intro_icon"><img src="{% static 'images/suitcase.svg' %}" alt=""></div>
                                <div class="intro_content">
                                    <div class="intro_title">Pelayanan Terbaik</div>
                                    <div class="intro_subtitle"><p>Pelayanan lebih kami utamakan</p></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>		
        </div>
    </div>
</div>
