{% load static %}


<header class="header">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header_content d-flex flex-row align-items-center justify-content-start">
                    <div class="header_content_inner d-flex flex-row align-items-end justify-content-between">
                        <div class="logo"><a href=".."><img width="250" src="{% static 'images/logo/default.png' %}" alt="logo"></a></div>
                        <nav class="main_nav">
                            <ul class="d-flex flex-row align-items-center justify-content-start">
                                <li><a href="..">Home</a></li>
                                <li><a href="tentang">Tentang</a></li>
                                <li><a href="kontak">Kontak kami</a></li>
                                <li><a href="blog">Blog</a></li>
                                <a href="tel:087860371458" class="btn btn-primary">Kontak</a>

                               
                            </ul>
                        </nav>



                        <!-- Hamburger -->

                        <div class="hamburger ml-auto">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
   
</header>

<!-- Menu -->

<div class="menu">
    <div class="menu_header d-flex flex-row align-items-center justify-content-start">
        <div class="menu_logo"><a href="..">MandalikaTour</a></div>
        <div class="menu_close_container ml-auto"><div class="menu_close"><div></div><div></div></div></div>
    </div>
    <div class="menu_content">
        <ul>
            <li><a href="..">Home</a></li>
            <li><a href="tentang">Tentang</a></li>
            <li><a href="blog">Blog</a></li>
            <li><a href="kontak">Kontak</a></li>
        </ul>
    </div>
    
</div>