{% load static %}

<!-- <div class="destinations" id="destinations"> -->
        <div class="row">
            <div class="col text-left">
                <h1 style="margin-bottom: 0px !important;">Paket Lainnya</h1>
                
            </div>
        </div>
        <div class="row destinations_row">
            <div class="col">
                <div class="destinations_container item_grid ">
                    
                    {% if other %}
                    
                    {% for program in other %}
                        <a href="{% url '_app:detail_paket' program.slug %}">
                            <div class="destination item ">
                                <div class="destination_image">
                                    <img src="{{program.image.url}}" alt="">
                                
                                </div>
                                <div class="destination_content px-2">
                                <h3 style="color: #181818; font-size: 16px; font-weight: 600; margin-top: 10px; margin-bottom: 7px !important;">Paket Wisata {{program.name}}</h3>
                                <p style="font-size: 13px; font-weight: 200; color: #72728C;letter-spacing: 0.02em;">Harga Mulai Dari {{program.price}}/ Orang</p>
                                </div>
                            </div>
                        </a>
                        
                    {% endfor %}
                        
                        
                    {% endif %}
                        
                      
                </div>
            </div>
        </div>
<!-- </div> -->