{% load static %}

<div class="destinations" id="destinations">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">wisata pilihan</div>
                <div class="section_title"><h1>Paket Populer</h1></div>
                <div class="section_desc"><p class="m-auto"  style="max-width: 700px;">
                    Pilihan paket wisata populer yang ada di lombok, dengan varian harga dan destinasi menarik yang bisa anda nikmati bersama kami MANDALIKA tour
                </p></div>
            </div>
        </div>
        <div class="row destinations_row">
            <div class="col">
                <div class="destinations_container item_grid ">
                    
                    {% if programs %}
                        {% for program in programs %}
                        <a href="{% url '_app:detail_paket' program.slug %}">
                            <div class="destination item ">
                                <div class="destination_image">
                                    <img src="{{program.image.url}}" alt="">
                                
                                </div>
                                <div class="destination_content px-2">
                                   <h3 style="color: #181818; font-size: 16px; font-weight: 600; margin-top: 10px; margin-bottom: 7px !important;">Paket Wisata {{program.name}}</h3>
                                   <p style="font-size: 13px; font-weight: 200; color: #72728C;letter-spacing: 0.02em;">Harga Mulai Dari {{program.price}}/ Orang</p>
                                </div>
                            </div>
                        </a>

                        
                        {% endfor %}


                        {% else %}
                        <h1>Kosong</h1>
                    {% endif %}
                        
                </div>
            </div>
        </div>
    </div>
</div>