{% load static %}

<!-- <div class="home_search">
    <div class="container">
        <div class="row">
            <div class="col-8 col-sm-8 mx-auto text-center">
                <div class="home_search_container">
                    <div class="home_search_content" style="background: transparent !important; bottom:100px !important;">
                        <form action="#" class="home_search_form" id="home_search_form">
                            <div style="position: relative;">
                                <input type="text" class="search_input w-100" placeholder="Kategori" 
                                    required="required" style="padding-left: 40px;">
                                <i class="fas fa-search" 
                                    style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); 
                                    font-size: 18px; color: #aaa;"></i>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="home_search">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home_search_container">
                    <!-- <div class="home_search_title">Cari wisata anda</div> -->
                    <div class="home_search_content">
                        <form action="#" class="home_search_form" id="home_search_form">
                            <div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                                <input type="text" class="search_input search_input_1" placeholder="City" required="required">
                                <input type="text" class="search_input search_input_2" placeholder="Departure" required="required">
                                <input type="text" class="search_input search_input_3" placeholder="Arrival" required="required">
                                <input type="text" class="search_input search_input_4" placeholder="Budget" required="required">
                                <button class="home_search_button">search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>