{% load static %}


<div class="col-lg-4">
    <div class="news_sidebar">

        <!-- Paket wisata -->
        <div class="categories">
            <div class="sidebar_title">Paket Wisata Lombok</div>
            <div class="sidebar_list">
                <ul>
                    {% for item in program  %}
                        <li><a href="{% url '_app:detail_paket' item.slug %}"><div class="d-flex flex-row align-items-start justify-content-start">Paket {{item.name}}<span class="ml-auto">(Rp {{item.price}}/pax)</span></div></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        
        {% if is_detail_blog %}
            <div class="latest">
                <div class="sidebar_title">Blog Lainnya</div>
                <div class="latest_container">
                    
                    {% for blog in other_blog  %}
                    
                        <!-- Latest blog -->
                        <div class="latest_post d-flex flex-row align-items-start justify-content-start">
                            {% if blog.image %}
                            <div class="latest_post_image"><img src="{{blog.image.url}}" alt=""></div>
                            {% endif %}

                            <div class="latest_post_content">
                                <div class="latest_post_date d-flex flex-row align-items-end justify-content-start" style="margin-top: 0 !important;">
                                    <!-- <div class="latest_post_day">02</div> -->
                                    <div class="latest_post_month">june</div>
                                </div>
                                <div class="latest_post_title"><a href="{% url '_app:blog_detail' blog.slug %}">{{blog.title}}</a></div>
                                    <div class="latest_post_text"><p>{{blog.deskripsi|truncatechars:50 }}</p></div>
                            </div>
                        </div>
                        
                    {% endfor %}
                        
                        
                        

                    
                </div>
            </div>
     
        {% endif %}
            
    

    </div>
</div>