{% load static %}

<!-- <div class="testimonials" id="testimonials">
    <div class="parallax_background parallax-window" data-parallax="scroll" 
   
    data-speed="0.8"></div>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title"><h1>Testimoni Pelanggan</h1></div>
            </div>
        </div>
        <div class="row testimonials_row">
            <div class="col">

                <div class="testimonials_slider_container">
                    <div class="owl-carousel owl-theme testimonials_slider">
                        
                        <div class="owl-item text-center">
                            <div class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. lobortis dolor. Cras placerat lectus a posuere aliquet. Curabitur quis vehicula odio.</div>
                            <div class="testimonial_author">
                                <div class="testimonial_author_content d-flex flex-row align-items-end justify-content-start">
                                    <div>john turner,</div>
                                    <div>client</div>
                                </div>
                            </div>
                        </div>

                        <iframe src='https://widgets.sociablekit.com/google-reviews/iframe/25436681' frameborder='0' width='100%' height='1000'></iframe>

                    

                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="test_nav">
        <ul class="d-flex flex-column align-items-end justify-content-end">
            <li><a href="#">City Breaks Clients<span>01</span></a></li>
            <li><a href="#">Cruises Clients<span>02</span></a></li>
            <li><a href="#">All Inclusive Clients<span>03</span></a></li>
        </ul>
    </div>
</div> -->



<div class="testimonials" id="testimonials">
    <div class="parallax_background parallax-window" data-parallax="scroll" 
   
    data-speed="0.8"></div>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title"><h1>Testimoni Pelanggan</h1></div>
            </div>
        </div>
        <div class="taggbox"  style="width:100%;height:100%" data-widget-id="158601" data-tags="false" ></div><script src="https://widget.taggbox.com/embed-lite.min.js" type="text/javascript"></script>
    </div>


 
</div>