{% load static %}


<div class="why">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/why.jpg' %}" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">simply amazing places</div>
                <div class="section_title"><h2>Why choose us?</h2></div>
            </div>
        </div>
        <div class="row why_row">
            
            <!-- Why item -->
            <div class="col-lg-4 why_col">
                <div class="why_item">
                    <div class="why_image">
                        <img src="{% static 'images/why_1.jpg' %}" alt="">
                        <div class="why_icon d-flex flex-column align-items-center justify-content-center">
                            <img src="{% static 'images/why_1.svg' %}" alt="">
                        </div>
                    </div>
                    <div class="why_content text-center">
                        <div class="why_title">Fast Services</div>
                        <div class="why_text">
                            <p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Why item -->
            <div class="col-lg-4 why_col">
                <div class="why_item">
                    <div class="why_image">
                        <img src="{% static 'images/why_2.jpg' %}" alt="">
                        <div class="why_icon d-flex flex-column align-items-center justify-content-center">
                            <img src="{% static 'images/why_2.svg' %}" alt="">
                        </div>
                    </div>
                    <div class="why_content text-center">
                        <div class="why_title">Great Team</div>
                        <div class="why_text">
                            <p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Why item -->
            <div class="col-lg-4 why_col">
                <div class="why_item">
                    <div class="why_image">
                        <img src="{% static 'images/why_3.jpg' %}" alt="">
                        <div class="why_icon d-flex flex-column align-items-center justify-content-center">
                            <img src="{% static 'images/why_3.svg' %}" alt="">
                        </div>
                    </div>
                    <div class="why_content text-center">
                        <div class="why_title">Best Deals</div>
                        <div class="why_text">
                            <p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
