@charset "utf-8";



*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-size: 14px;
	font-weight: 450;
	background: #FFFFFF;
	color: #181818;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-size: 14px;
	line-height: 1.9285;
	font-weight: 400;
	color: #181818;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 72px;}
h2{font-size: 48px;}
h3{font-size: 36px;}
h4{font-size: 24px;}
h5{font-size: 18px;}
h1, h2, h3, h4, h5, h6
{
	font-weight: 450;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
/* .form-control
{
	color: #db5246;
} */
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.section_subtitle
{
	font-size: 12px;
	font-weight: 400;
	color: #72728c;
	line-height: 0.75;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.section_title
{
	color: #181818;
	margin-top: 26px;
}
.button
{
	width: 161px;
	height: 52px;
	background: rgba(24,24,24,1);
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button a
{
	display: block;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	color: #FFFFFF;
	line-height: 52px;
}
.button:hover
{
	background: rgba(24,24,24,0.7);
}

/*********************************
3. Header
*********************************/

.header
{
	/* position: fixed; */
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header_content
{
	width: 100%;
	height: 106px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled
{
	background: rgba(24,24,24,0.6);
}
.header.scrolled .header_content
{
	height: 90px;
}
.header_content_inner
{
	width: 100%;
}
.logo a
{
	font-size: 30px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 0.75;
}
.main_nav
{
	margin-left: 242px;
}
.main_nav ul li
{
	position: relative;
}
.main_nav ul li::after
{
	display: block;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	top: -104px;
	width: 2px;
	height: 0px;
	background: #FFFFFF;
	content: '';
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav ul li.active::after,
.main_nav ul li:hover::after
{
	height: 100px;
	visibility: visible;
	opacity: 1;
}
.main_nav ul li:not(:last-child)
{
	margin-right: 54px;
}

.main_nav ul li a
{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #181818;
	white-space: nowrap;
}


.header_phone
{
	margin-right: 60px;
	font-size: 18px;
	font-weight: 500;
	color: #FFFFFF;
}
.header_social
{
	position: absolute;
	top: 0;
	right: 119px;
	height: 148px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header_social.scrolled
{
	height: 90px;
}
.header_social ul
{
	margin-top: 6px;
}
.header_social ul li:not(:last-child)
{
	margin-right: 32px;
}
.header_social ul li a i
{
	font-size: 14px;
	color: rgba(255,255,255,1);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header_social ul li a i:hover
{
	color: rgba(255,255,255,0.5);
}
.hamburger
{
	display: none;
}
.hamburger i
{
	font-size: 20px;
	color: rgba(255,255,255,0.5);
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover i
{
	color: rgba(255,255,255,1);
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	left: -100vw;
	width: 100vw;
	height: 100vh;
	background: rgba(242,245,246,0.95);
	-webkit-transition: all 1000ms cubic-bezier(.18,.43,.59,.92);
	-moz-transition: all 1000ms cubic-bezier(.18,.43,.59,.92);
	-ms-transition: all 1000ms cubic-bezier(.18,.43,.59,.92);
	-o-transition: all 1000ms cubic-bezier(.18,.43,.59,.92);
	transition: all 500ms cubic-bezier(.84,.38,.6,.85);
	z-index: 1000;
}
.menu.active
{
	left: 0;
}
.menu_header
{
	width: 100%;
	height: 148px;
	padding-left: 60px;
	padding-right: 60px;
}
.menu_logo a
{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: 500;
	color: #181818;
	line-height: 0.75;
}
.menu_close_container
{
	width: 18px;
	height: 18px;
	transform-origin: center center;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	cursor: pointer;
}
.menu_close
{
	width: 100%;
	height: 100%;
	transform-style: preserve-3D;
}
.menu_close div
{
	width: 100%;
	height: 2px;
	background: #232323;
	top: 8px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close div:last-of-type
{
	-webkit-transform: rotate(90deg) translateX(-2px);
	-moz-transform: rotate(90deg) translateX(-2px);
	-ms-transform: rotate(90deg) translateX(-2px);
	-o-transform: rotate(90deg) translateX(-2px);
	transform: rotate(90deg) translateX(-2px);
	transform-origin: center;
}
.menu_close:hover div
{
	background: #937c6f;
}
.menu_content
{
	position: absolute;
	left: 60px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.menu_content ul li a
{
	font-size: 48px;
	font-weight: 500;
	color: #181818;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_content ul li a:hover
{
	color: rgba(0,0,0,0.5);
}
.menu_social
{
	position: absolute;
	left: 60px;
	bottom: 30px;
}
.menu_phone
{
	font-size: 18px;
	font-weight: 500;
	color: rgba(0,0,0,0.5);
	margin-bottom: 10px;
}
.menu_social ul li:not(:last-child)
{
	margin-right: 32px;
}
.menu_social ul li a i
{
	font-size: 14px;
	color: rgba(0,0,0,0.5);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_social ul li a i:hover
{
	color: #181818;
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 586px;
}
.home_slider_container
{
	width: 100%;
	height: 100%;
}
.home_slider_content_container
{
	position: absolute;
	top: 31.5%;
	left: 0;
	width: 100%;
	z-index: 1;
	text-align: center;
}
.home_title h2
{
	font-size: 100px;
	line-height: 1.1;
	font-weight: 400;
	color: #FFFFFF;
}

/*********************************
6. Home Search
*********************************/

.home_search
{
	width: 100%;
	height: 0;
	background: #FFFFFF;
	z-index: 1;
}
.home_search_container
{
	position: absolute;
	top: -339px;
	width: calc(100% + 122px);
	left: -61px;
	padding-top: 47px;
	padding-left: 61px;
	padding-right: 61px;
	padding-bottom: 59px;
	/* background: rgba(255,255,255,0.26); */
	border-radius: 12px;
}
.home_search_title
{
	width: 247px;
	height: 55px;
	background: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	line-height: 55px;
	font-size: 18px;
	color: #2e2e2e;
	font-weight: 400;
	text-align: center;
}
.home_search_content
{
	width: 100%;
	/* background: #FFFFFF; */
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 67px;
	padding-right: 83px;
}
.search_input
{
	height: 50px;
	background: #f2f5f6;
	border: none;
	outline: none;
	padding-left: 17px;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #72728c !important;
}
.search_input_1
{
	width: 25%;
}
.search_input_2
{
	width: 15%;
}
.search_input_3
{
	width: 15%;
}
.search_input_4
{
	width: 20%;
}
.search_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #72728c !important;
}
.search_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #72728c !important;
}
.search_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #72728c !important;
} 
.search_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #72728c !important;
}
.search_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #72728c !important;
}
.home_search_button
{
	width: 161px;
	height: 52px;
	background: #4f8fda !important;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	border-radius: 20px;
	border: none;
	outline: none;
	cursor: pointer;
}

/*********************************
7. News
*********************************/

.news
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 115px;
	padding-bottom: 116px;
}
.news_post
{
	padding-bottom: 39px;
}
.news_post:not(:last-child)
{
	margin-bottom: 71px;
}
.news_post_image
{
	width: 100%;
}
.news_post_image img
{
	max-width: 100%;
}
.news_post_content
{
	padding-top: 39px;
}
.news_post_date div:first-child
{
	font-size: 48px;
	font-weight: 400;
	color: #181818;
	line-height: 0.75;
}
.news_post_date div:last-child
{
	font-size: 11px;
	font-weight: 400;
	color: #72728c;
	text-transform: uppercase;
	line-height: 0.75;
	letter-spacing: 0.2em;
	margin-left: 4px;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}
.news_post_title
{
	margin-top: 17px;
}
.news_post_title a
{
	font-size: 28px;
	font-weight: 400;
	color: rgba(24,24,24,1);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.news_post_title a:hover
{
	color: rgba(24,24,24,0.5);
}
.news_post_category
{
	margin-top: -5px;
}
.news_post_category ul li
{
	display: inline-block;
}
.news_post_category ul li a
{
	font-size: 9px;
	color: #8f8f8f;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.news_post_text
{
	margin-top: 14px;
}
.news_post_link
{
	margin-top: 47px;
}
.news_post_link a
{
	font-size: 16px;
	font-weight: 400;
	color: rgba(24,24,24,1);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.news_post_link a:hover
{
	color: rgba(24,24,24,0.5);
}
.pagination
{
	width: 100%;
	margin-top: 65px;
}
.pagination ul li:not(:last-child)
{
	margin-right: 6px;
}
.pagination ul li a
{
	font-size: 18px;
	font-weight: 400;
	color: #72728c;
}
.pagination ul li.active a,
.pagination ul li:hover a
{
	color: #181818;
}
.news_sidebar
{
	width: 100%;
}
.sidebar_title
{
	font-weight: 500;
	font-size: 24px;
	color: #181818;
	line-height: 0.75;
}
.sidebar_list
{
	margin-top: 55px;
}
.sidebar_list ul
{
	padding-left: 35px;
}
.sidebar_list ul li
{
	position: relative;
}
.sidebar_list ul li::before
{
	display: block;
	position: absolute;
	top: 50%;
	left: -32px;
	width: 0px;
	height: 1px;
	background: rgba(24,24,24,0.5);
	content: '';
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.sidebar_list ul li:hover::before
{
	visibility: visible;
	opacity: 1;
	width: 22px;
}
.sidebar_list ul li:not(:last-child)
{
	margin-bottom: 15px;
}
.sidebar_list ul li a
{
	display: block;
	font-size: 14px;
	color: #72728c;
	font-weight: 400;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.sidebar_list ul li a:hover
{
	color: #181818;
}
.latest
{
	margin-top: 67px;
}
.latest_container
{
	margin-top: 59px;
}
.latest_post:not(:last-child)
{
	margin-bottom: 31px;
}
.latest_post_image
{
	width: 141px;
}
.latest_post_image img
{
	max-width: 100%;
}
.latest_post_content
{
	padding-left: 22px;
}
.latest_post_date
{
	margin-top: 11px;
}
.latest_post_day
{
	font-size: 16px;
	font-weight: 400;
	color: #313131;
	line-height: 0.75;
}
.latest_post_month
{
	font-size: 11px;
	color: #72728c;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 0.75;
	margin-left: 6px;
}
.latest_post_title
{
	margin-top: 13px;
}
.latest_post_title a
{
	font-size: 18px;
	color: rgba(24,24,24,1);
	font-weight: 400;
	line-height: 1.2;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.latest_post_title a:hover
{
	color: rgba(24,24,24,0.5);
}
.latest_post_text
{
	margin-top: 5px;
}
.travello
{
	width: 100%;
	height: 659px;
	overflow: hidden;
	margin-top: 73px;
}
.travello_content
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.travello_content_inner
{
	width: 100%;
	height: 100%;
}
.travello_content_inner > div
{
	position: absolute;
	top: 58%;
	width: 200%;
	height: 100%;
	z-index: 1;
}
.travello_content_inner > div:first-child
{
	left: 0;
	background: rgba(45,143,197,0.7);
	transform-origin: top left;
	transform: rotate(12deg);
}
.travello_content_inner > div:last-child
{
	right: 0;
	background: rgba(237,35,69,0.7);
	transform-origin: top right;
	transform: rotate(-12deg);
}
.travello_container
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	padding-bottom: 47px;
}
.travello_container a
{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
}
.travello_container a div
{
	width: 100%;
	height: 100%;
}
.travello_title
{
	font-size: 48px;
	color: #FFFFFF;
	max-width: 210px;
	line-height: 1;
}
.travello_subtitle
{
	font-size: 16px;
	color: #FFFFFF;
	margin-top: 6px;
	font-weight: 400;
}

/*********************************
8. Footer
*********************************/

.footer
{
	display: block;
	position: relative;
	padding-top: 136px;
}
.newsletter_title
{
	font-size: 36px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 1.2;
}
.newsletter_subtitle
{
	font-size: 18px;
	color: #FFFFFF;
	font-weight: 300;
	margin-top: 18px;
}
.newsletter_form_container
{
	margin-top: 84px;
}
.newsletter_input
{
	width: 100%;
	height: 50px;
	background: rgba(255,255,255,0.5);
	border: none;
	outline: none;
	padding-left: 22px;
	color: #FFFFFF;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_form > div:not(:last-child)
{
	margin-right: 15px;
}
.newsletter_form > div:first-child
{
	width: calc(100% - 176px);
}
.newsletter_form > div:first-child > div:first-child
{
	width: calc((100% - 15px) * 0.35);
}
.newsletter_form > div:first-child > div:last-child
{
	width: calc((100% - 15px) * 0.65);
}
.newsletter_form > div > div > div
{
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background: #FFFFFF;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.newsletter_button
{
	width: 161px;
	height: 50px;
	border-radius: 20px;
	background: rgba(255,255,255,0.5);
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
	text-transform: uppercase;
	border: none;
	outline: none;
	cursor: pointer;
}
.footer_contact_row
{
	margin-top: 80px;
	padding-bottom: 50px;
}
.footer_contact_item
{
	width: 100%;

}
.footer_contact_icon
{
	width: 68px;
	height: 68px;
}
.footer_contact_icon img
{
	max-width: 100%;
}
.cr
{
	width: 100%;
	height: 68px;
}
.cr div
{
	font-size: 12px;
	font-weight: 400;
	color: rgba(255,255,255,0.48);
}
.footer_contact_title
{
	font-size: 24px;
	color: #FFFFFF;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 18px;
}
.footer_contact_list
{
	margin-top: 19px;
}
.footer_contact_list ul li
{
	font-size: 14px;
	color: #FFFFFF;
	line-height: 1.71;
}
.footer_contact_list ul li:not(:last-child)
{
	margin-bottom: 7px;
}