@charset "utf-8";


@media only screen and (max-width: 1800px)
{
	.header_social
	{
		display: none !important;
	}
	.destinations {
		padding-top: 20px;
		background-color: red;
	}
}

/************
2. 1480px
************/

@media only screen and (max-width: 1480px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.main_nav
	{
		margin-left: 150px;
	}
	.header_phone
	{
		margin-right: 0;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.main_nav,
	.header_phone
	{
		display: none;
	}
	.hamburger
	{
		display: block;
	}
	.home_search
	{
		height: auto;
	}
	.home_search_container
	{
		position: relative;
		top: auto;
		width: 100%;
		left: auto;
	}
	.home_search_content
	{
		padding-left: 0;
		padding-right: 0;
	}
	.search_input
	{
		width: 100%;
		margin-bottom: 12px;
	}
	.home_search_button
	{
		width: 100%;
		margin-top: 10px;
	}
	.destinations
	{
		padding-top: 50px;
	}
	.destination
	{
		width: calc(100% / 2);
	}
	.footer_contact_col:not(:last-child)
	{
		margin-bottom: 60px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.home_search_container
	{
		padding-left: 0;
		padding-right: 0;
	}
	.destinations_container
	{
		width: 100%;
		left: auto;
	}
	.destination
	{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.newsletter_form > div:not(:last-child)
	{
		margin-right: 0px;
	}
	.newsletter_form > div:first-child
	{
		width: 100%;
	}
	.newsletter_form > div:first-child > div:first-child
	{
		width: 100%;
		margin-bottom: 15px;
	}
	.newsletter_form > div:first-child > div:last-child
	{
		width: 100%;
		margin-bottom: 20px;
	}
	.newsletter_form > div:last-child
	{
		margin-left: auto;
		margin-right: auto;
	}
	.newsletter_input
	{
		height: 40px;
	}
	.newsletter_button
	{
		font-size: 14px;
	}
	.newsletter_title
	{
		font-size: 28px;
	}
	.newsletter_subtitle
	{
		font-size: 16px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 13px;
	}
	.section_title h2
	{
		font-size: 36px;
	}
	.text_highlight
	{
		font-size: 16px;
	}
	.button
	{
		width: 141px;
		height: 40px;
	}
	.button a
	{
		font-size: 14px;
		line-height: 40px;
	}
	.menu_content ul li a
	{
		font-size: 24px;
	}
	.home
	{
		height: 40vh;
	}
	.home_title h2
	{
		font-size: 48px;
	}
	.search_input
	{
		height: 40px;
	}
	.search_input::-webkit-input-placeholder
	{
		font-size: 13px !important;
	}
	.search_input:-moz-placeholder
	{
		font-size: 13px !important;
	}
	.search_input::-moz-placeholder
	{
		font-size: 13px !important;
	} 
	.search_input:-ms-input-placeholder
	{ 
		font-size: 13px !important;
	}
	.search_input::input-placeholder
	{
		font-size: 13px !important;
	}
	.home_search_button
	{
		height: 42px;
		font-size: 12px;
	}
	.destination_title a
	{
		font-size: 24px;
	}
	.destination_price
	{
		font-size: 14px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}